* @Florian2807 @LosFarmosCTL

/apps/server/ @Florian2807 @LosFarmosCTL
/compose.yaml @Florian2807 @LosFarmosCTL
/ops/ @Florian2807 @LosFarmosCTL
/packages/db/ @Florian2807 @LosFarmosCTL
/.github/ @Florian2807 @LosFarmosCTL
